.wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgba(210, 207, 215, 1);
    padding: 10px 8px;
    border-radius: 20px;
}
.wrapper input {
    border: none;
    outline: none;
    background-color: inherit;
    color: rgba(210, 207, 215, 1);
    margin-left: 5px;
}
.searchLogo {
    color: rgba(210, 207, 215, 1);
}