* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.helpLangWrapper {
  display: flex;
  background: rgba(39, 6, 92, 1);
  color: white;
  padding: 10px;
}
.helpLangWrapper > select {
  background: rgba(39, 6, 92, 1);
  color: white;
  border: none;
  outline: none;
}
.helpLangWrapper > select:first-of-type {
  margin-left: auto;
}

.headerMidSection {
  background: url("../../assets/HeroSection.png") no-repeat center center / cover;
  /* background: linear-gradient(80deg, white 22.7%, rgba(256, 256, 256, 0.3)),
    url("../../assets/images/trendingImage.PNG") no-repeat center center / cover; */
  /* background: rgba(39, 6, 92, 0.4); */
  height: 600px;
  padding:20px 80px ;

}

.heroTextsButtonWrapper {
    color: white;
    width: 47%;
    padding: 40px 0;
}
/* .heroTextsButtonWrapper > p {
} */
.heroTextsButtonWrapper > p:first-of-type {
    font-size: 3rem;
}